﻿@using PRPTcode.Data
@model List<Product>
@{
    ViewData["Title"] = "PRTR";
}

<div class="text-center">
    <h1 class="display-4">Explore Best Selling</h1>

    @if (Model != null)
    {
        <div class="App">
            <div class="parent">
                @foreach (var item in Model)
                {
                    <div class="row item card" onclick="GetProductById(@item.Id)">

                        <img src="@item.Picture" style="width:100%">

                        <div class="container">

                            <input class="itemClick" type="hidden" />

                            <h5><b>@item.Name</b></h5>
                            <p>@item.ProductType.Name</p>

                            <div class="form-inline">
                                @if (item.PriceDiscount <= 0)
                                {
                                    <p style="display:inline; color: red;">$@item.PriceStarts</p>
                                }
                                else
                                {
                                    var valuePrice = item.PriceStarts - item.PriceDiscount;
                                    <p style="display:inline; text-decoration: line-through;">$@item.PriceStarts</p> <p style="display:inline; color: red;">$@valuePrice</p>
                                }

                            </div>

                            <p>Score : @item.ScoreItem</p>

                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= item.ScoreItem)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }

                        </div>
                    </div>
                }

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <span class="close" style="margin-left: 90%; font-size: xx-large;" onclick="CloseModal()">&times;</span>
                            <div class="modal-body row">
                                <div class="col-5">
                                    <img id="picProduct" src="" style="width:100%">
                                </div>
                                <div class="col-7">
                                    <p hidden id="id"></p>
                                    <h3><b id="name"></b></h3>
                                    <h4 id="detail"></h4>
                                    <p id="productTypeName"></p>
                                    <div id ="isAvailability"> </div>
                                    <p id="skuText"></p>
                                    <div id="priceAll"> </div>

                                    <input class="countItemAdd" width="20"/>
                                    <br>
                                    <br>
                                    <button type="button" class="btn btn-small btn-info" data-dismiss="modal" onclick="AddCard">Add Card</button>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-warning" data-dismiss="modal" onclick="CloseModal()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }

   
</div>


