html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
}

.checked {
    color: orange;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.parent {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: calc(100%/3 - 12px);
}